apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kztest-prod
resources:
  - ../../base
patches:
  - target:
      kind: Deployment
      name: myapp
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: $IMAGE
